.head>.headerp{
	margin-left:30%;
}
body{
	background:#ecebf1;
}
.site{
	width:100%;
	height:2.22rem;
	background:#fff;
}
.site div{
	width:100%;
	height:1.11rem;
	font-size:0.26rem;
	line-height:1.11rem;
	border-bottom:1px solid #e6e6e6;
}
.site div img{
	width:0.13rem;
	height:0.23rem;
	}
.site input{
	height:1rem;
	line-height:1.13rem;
	width:4.51rem;
	border:0;
	font-size:0.26rem;
	margin-left:0.33rem;
	outline: none;
}
.site div{
	text-algin:center;
}
.site div a{
	width:1.2rem;
	height:0.26rem;
	font-size:0.28rem;
	color:#41c1ce;
	}
.site .code{
	float:right;
	width:1.5rem;
	height:0.6rem;
	line-height:0.6rem;
	margin:0;
	font-size:0.25rem;
	color:#fff;
	margin-right:0.2rem;
	text-align:center;
	background:#44c9aa;;
	margin-top:0.2rem;
	border-radius:0.1rem;
}

#btn{
	width:6.8rem;
	border:0;
	height:1rem;
	font-size:0.33rem;
	color:#fff;
	background:#44c9aa;
	border-radius: 0.05rem;
	margin-top:0.6rem;
}




